/* Styles for navbar and navigation links */
nav {
    background: #222;
    color: #fff;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    display: flex;
    height: 2rem;
    gap: 2rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

@media (max-width: 900px) {
    nav ul {
        justify-content: center;
        width: 100%;
    }
}

nav ul li {
    cursor: pointer;
}
nav ul li:last-child {
  margin-left: auto;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
